// colors
$primaryColor: #ffd800;
$secondaryColor: #1e2e3a;
$tertiaryColor: #14b3fb;
$monoWhite: #fff;

// Space
$space10: 10px;
$space30: 30px;
$space40: 40px;
$space48: 48px;
$space50: 50px;
$space60: 60px;

// Font weight
$weightThin: 100;
$weightExtralight: 200;
$weightLight: 300;
$weightRegular: 400;
$weightMedium: 500;
$weightSemibold: 600;
$weightBold: 700;
$weightExtrabold: 800;
$weightBlack: 900;
